.container-start, .container-end{
  font-weight: var(--font-weight-bold);
  color: var(--font-color-hidden);
  padding: var(--spacing-double);
  font-size: 14px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;
  gap: var(--spacing-full)
}
