.date {
    padding: var(--spacing-half);
  }
  
  .date-title {
    font-weight: var(--font-weight-bold);
    color: var(--font-color-subtle);
  }
  
  .date-full {
    color: var(--font-color-hidden);
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    line-height: 1;
  }
  
  .tasks-box {
    min-width: 200px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 20px;
  }
  .task-group{
    display: flex;
    flex-direction: column;
  }
  .tasks {
    display: flex;
    flex-direction: column;
    gap: 0px;
  
    border: 3px solid var(--palette-surface-primary);
  
    padding: 10px;
    border-radius: 20px;
  }
  
  .tasks-task {
    padding-bottom: 10px;
  }
  
  .tasks > div:last-child .tasks-task {
    padding-bottom: 0;
  }
  .no-tasks{
    font-weight: var(--font-weight-bold);
    color: var(--font-color-hidden);
    padding: var(--spacing-full);
    font-size: 14px;
    text-align: center;
  }